h1 {
    flex: auto;
    text-align: center;
    background-color: black;
    color: grey;
    font-size: 30px;
    margin: 0;
}

.title {
    padding: 0;
}

.drone-tela {
    width: 100%;
    height: 33%;

}

.flecha-direita {
    flex: auto;
    margin-top: 50px;
    
}

.qr-code {
    width: 100%;
}

.ajust {
    color: black;
    justify-content: flex-end;
    margin-top: auto;
}

.mapa-drone {
    width: 100%;
    height: 20%;
}

li {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.cinza {
    background-color: #E5E5E5;
}

.lista {
    margin-left: 6px;
}
